name: build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  build:
    name: Build
    # Set the type of machine to run on
    runs-on: ubuntu-latest
    timeout-minutes: 15
    if: github.ref != 'refs/heads/master'

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
          scope: '@pristine-ts'
      - run: npm install -g npm@8.19.2
      - run: npm -v
      - run: npm ci
#      - run: npm install
#        env:
#          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm run build
      - run: npx eslint --ext .ts packages/**
      - run: npm run test
      - run: npm run e2e
      - run: npm run perf

  publish:
    name: Publish
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'

    # Set the type of machine to run on
    runs-on: ubuntu-latest
    timeout-minutes: 15
    
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org
          scope: '@pristine-ts'
      - run: npm install -g npm@latest
      - run: npm ci
#      - run: npm install
#        env:
#          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: git config --global user.name 'ima-bot'
      - run: git config --global user.email 'ima-bot@ima-tech.ca'
      - run: npm run bump-patch
      #- run: npm whoami
      - run: npm run publish-ci
